.container {
  display: grid;
  grid-template-rows: 85vh auto 40vw repeat(3, auto);
  grid-template-columns: repeat(8, minmax(min-content, 14rem));
  gap: 1rem;

  & > * {
    background: orchid;
  }
}
