.header {
  grid-column: full-start / col-end 6;
  background: linear-gradient(
      rgba($color-secondary, 0.9),
      rgba($color-secondary, 0.9)
    ),
    url("../img/hero.jpeg") no-repeat center center/cover;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr min-content;
  grid-template-columns: minmax(min-content, max-content);

  justify-content: center;
  gap: 1.5rem;
  padding: 8rem;
  padding-top: 4rem;

  .home {
    justify-self: center;
    margin-bottom: auto;
  }

  &__logo {
    height: 3rem;
    width: auto;
    justify-self: center;
  }

  &__btn {
    justify-self: start;
    align-self: start;
  }

  &__companies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2rem;
  }

  &__companies-text {
    grid-column: 1 / -1;
    font-size: 1.6rem;
    text-align: center;
    color: $color-grey-light-2;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    gap: 2rem;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      height: 1px;
      background: currentColor;
    }
  }

  &__companies-logo {
    display: inline-block;
    max-width: 100%;
    max-height: 2.5rem;
    width: auto;
    filter: brightness(70%);
  }

  @include respond(tab-port-small) {
    grid-column: 1 / -1;
  }

  @include respond(phone) {
    padding: 5rem;
  }
}

// About page
.header--about {
  grid-column: full-start / -1;
  text-align: center;
}
