.story {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__pictures {
  }

  // Pic

  &__content {
    align-self: center;
    padding: 6rem 6.5vw;

    &-text {
      font-size: 1.5rem;
      font-style: italic;
      margin-bottom: 4rem;
    }
  }
}
