.contact-form {
  font-size: 1.7rem;

  &__text-fields {
    display: grid;
    grid-template-areas:
      "name subject"
      "email phone"
      "message message";
    gap: 4rem;

    @include respond(phone) {
      gap: 2.5rem;
    }

    @include respond(phone-small) {
      grid-template-areas:
        "name name"
        "subject subject"
        "email email"
        "phone phone"
        "message message";
    }
  }

  &__name {
    grid-area: name;
  }

  &__subject {
    grid-area: subject;
  }

  &__email {
    grid-area: email;
  }

  &__phone {
    grid-area: phone;
  }

  &__message {
    grid-area: message;
    height: 15rem;
  }

  &__name,
  &__subject,
  &__email,
  &__phone,
  &__message {
    font-family: inherit;
    font-size: inherit;
    padding: 2rem 3rem;
    border: 1px solid $color-border;
    border-radius: 5px;
    outline: none;

    @include respond(phone-small) {
      padding: 1rem 2rem;
    }

    &:focus {
      border: 1px solid $color-primary;
      transition: all 0.4s;
    }
  }

  &__btn {
    margin-top: 4rem;
  }
}
